// 项目主色调 p前缀 l代表light d代表deep
$porange:#FFCC99;
$pgold:#FFFFCC;
$pazure:#CCFFFF;
$pdgreen:#99CCCC;
$plgreen:#CCFFCC;
$ppurple:#CCCCFF;
$plblue:#99ccff;
$pblue:#0099CC;
$pdblue:#336699;
$pddblue:#003366;
$pgreen:#99CC33;

$red: red;
$green: green;
$blue: blue;
$black: black;
$white: white;
$yellow: yellow;
$gold: gold;
$purple: purple;
$cyan: cyan;
$orange: orange;
$orangered: orangered;
$pink: pink;
$violet: violet;
$yellowgreen: yellowgreen;
$tomato: tomato;
$tan: tan;
$snow: snow;
$gray: gray;
$silver: silver;
$skyblue: skyblue;
$navy: navy;
$brown: brown;
$beige: beige;
$magenta: magenta;


$c0: #000;
$c1: #111;
$c2: #222;
$c3: #333;
$c4: #444;
$c5: #555;
$c6: #666;
$c7: #777;
$c8: #888;
$c9: #999;
$c10: #aaa;
$c11: #bbb;
$c12: #ccc;
$c13: #ddd;
$c14: #eee;
$c15: #fff;

$c21: #212121;
$ef: #EFEFEF;

.red { color: $red; }
.green { color: $green; }
.blue { color: $blue; }
.black { color: $black; }
.white { color: $white; }
.yellow { color: $yellow; }
.gold { color: $gold; }
.purple { color: $purple; }
.cyan { color: $cyan; }
.orange { color: $orange; }
.orangered { color: $orangered; }
.pink { color: $pink; }
.violet { color: $violet; }
.yellowgreen { color: $yellowgreen; }
.tomato { color: $tomato; }
.tan { color: $tan; }
.snow { color: $snow; }
.gray { color: $gray; }
.silver { color: $silver; }
.skyblue { color: $skyblue; }
.navy { color: $navy; }
.brown { color: $brown; }
.beige { color: $beige; }
.magenta { color: $magenta; }

.c0{ color:$c0; }
.c1{ color:$c1; }
.c2{ color:$c2; }
.c3{ color:$c3; }
.c4{ color:$c4; }
.c5{ color:$c5; }
.c6{ color:$c6; } 
.c7{ color:$c7; }
.c8{ color:$c8; }
.c9{ color:$c9; }
.c10{ color:$c10; }
.c11{ color:$c11; }
.c12{ color:$c12; }
.c13{ color:$c13; }
.c14{ color:$c14; }
.c15{ color:$c15; }

.porange{
    color:$porange;
}
.pgold{
    color:$pgold;
}
.pazure{
    color:$pazure;
}
.pdgreen{
    color:$pdgreen;
}
.ppurple{
    color:$ppurple;
}
.pblue{
    color:$pblue;
}
.plblue{
    color:$plblue;
}
.pdblue{
    color:$pdblue;
}
.pgreen{
    color:$pgreen;
}
