// 项目主色调
$--color-orange:#FFCC99 !default;
$--color-gold:#FFFFCC !default;
$--color-azure:#CCFFFF !default;
$--color-green-deep:#99CCCC !default;
$--color-green-light:#CCFFCC !default;
$--color-purple:#CCCCFF !default;
$--color-blue-light:#99ccff !default;
$--color-blue:#0099CC !default;
$--color-blue-deep:#336699 !default;
$--color-blue-verydeep:#003366 !default;
$--color-green:#99CC33 !default;

$--color-primary :#409EFF !default;
$--color-success :#85ce61 !default;
$--color-info: #909399 !default;
$--color-danger :#f78989 !default;
$--color-warnning :#e6a23c !default;

$--color-level0: #000000 !default;
$--color-level1: #111111 !default;
$--color-level2: #222222 !default;
$--color-level3: #333333 !default;
$--color-level4: #444444 !default;
$--color-level5: #555555 !default;
$--color-level6: #666666 !default;
$--color-level7: #777777 !default;
$--color-level8: #888888 !default;
$--color-level9: #999999 !default;
$--color-level10: #aaaaaa !default;
$--color-level11: #bbbbbb !default;
$--color-level12: #cccccc !default;
$--color-level13: #dddddd !default;
$--color-level14: #eeeeee !default;
$--color-level15: #ffffff !default;

$--title-color:#181818 !default;

$--text-color: #606266 !default;
$--text-color-hover: #409EFF;
$--text-color-disabled: mix($--text-color,$--color-level15,50%);

$--border-color-base: #dcdfe6 !default;
$--border-color-hover: mix($--color-primary, $--color-level15, 50%);
$--border-color-active: mix($--color-primary, $--color-level15, 90%);

$--background-color:mix($--color-level15, $--color-level0, 98%);
$--background-color-hover:mix($--color-primary, $--color-level15, 10%);
$--background-color-disabled:mix($--color-level15, $--color-level0, 96%);