[project]
datadir=/home/judge/hustoj_core/data
server=http://localhost
cookielivetime=1209600
enviroment=debug


[mysql]
host=db
port=3306
database=oj
user=
password=

[redis]
host=redis
port=6379
password=

[mail]
user=
pass=
host=
port=

[token]
expire=

[language]
number=18
mask=131147
langname=C,Cpp,Pascal,Java,Ruby,Bash,Python,PHP,Perl,CSharp,Objc,FreeBasic,Schema,Clang,Clang++,Lua,Javascript,Go

[preset]
avatar=static/images/default_avatar.png