@import "../../web-common/sass/reset.scss";
@import "../../web-common/sass/color.scss";
@import "../../web-common/sass/utils.scss";

html {
   position: relative;
    background: #f0f2f5; 
    height: 100%;
}

body{
    height: 100%;
}

.content{
    margin: 0 auto;
    .content__searchbar__wrapper{
        margin: .1rem 0;
    }
    width: 100%;
    padding: .2rem 0;
    @media screen and (min-width: 1300px) {
        width: 90%;
        padding: .1rem .2rem;
    }
    box-sizing: border-box;
    .content__main{
        margin-bottom: 1rem;
        .content__searchbar__wrapper{
            padding: .1rem 0 0 .2rem;
            text-align: left;
        }
        h1.content__panel__title{
            color: $c3;
            text-align: left;
            font-size: 26px;
            line-height: 26px;
            padding: .1rem;
        }
    }
}

#nprogress .bar {
    background: $pblue !important;
}